<!-- Page Navigation Area -->
<div class="navigation">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">
        <i class="fa fa-address-book fa-2x"></i>
        <h5>Contacts</h5>
      </li>
    </ol>
  </nav>
</div>

<!-- Search and Add New Contact Area -->
<div class="container" id="main-content">
  <div class="row">
    <div class="col">
      <input
        class="form-control"
        id="myInput"
        type="search"
        [(ngModel)]="searchText"
        placeholder="Search.."
      />
    </div>
    <div class="col">
      <div class="float-right">
        <button type="button" class="btn btn-success" routerLink="add">
          <i class="fa fa-plus fa-1x"></i>
          New Contact
        </button>
      </div>
    </div>
  </div>

  <!-- Showing Contact list Area -->
  <div class="contact-list">
    <ul
      class="list-group"
      *ngFor="let contact of contactList | filter: searchText"
    >
      <li class="list-group-item">
        <div class="row">
          <div class="col">
            <div class="contact-info">
              <h2>{{ contact.name }}</h2>
            </div>
            <div class="contact-info">{{ contact.phone }}</div>
            <div class="contact-info">{{ contact.email }}</div>
          </div>
          <div class="col" align="center">
            <button
              type="button"
              class="btn btn-warning"
              id="button"
              routerLink="edit/{{ contact.id }}"
            >
              <i class="fa fa-edit fa-1x"></i>
              Edit
            </button>
            <button
              type="button"
              class="btn btn-outline-danger"
              id="button"
              (click)="openConfirmDialog(contact.id)"
            >
              <i class="fa fa-trash fa-1x"></i>
              Delete
            </button>
          </div>
        </div>
      </li>
    </ul>

    <!-- Shwoing alert if there is no contact -->
    <div class="alert alert-primary" role="alert" *ngIf="isEmptyContacts">
      <i class="fa fa-info-circle fa-1x"></i>
      You have no contacts currently.
    </div>
  </div>
</div>
